p#notice = notice

p
  strong Name:
  = @person.name
p
  strong Surname:
  = @person.surname
p
  strong Title:
  = @person.title
p
  strong Email:
  = @person.email
p
  strong Phone:
  = @person.phone

=> link_to 'Edit', edit_person_path(@person)
'|
=< link_to 'Back', people_path
