= form_for @room do |f|
  - if @room.errors.any?
    #error_explanation
      h2 = "#{pluralize(@room.errors.count, "error")} prohibited this room from being saved:"
      ul
        - @room.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :number
    = f.text_field :number
  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :capacity
    = f.text_field :capacity
  .actions = f.submit
