p#notice = notice

p
  strong Number:
  = @room.number
p
  strong Type:
  = @room.type
p
  strong Capacity:
  = @room.capacity

=> link_to 'Edit', edit_room_path(@room)
'|
=< link_to 'Back', rooms_path
