h1 Listing courses

table
  thead
    tr
      th Name
      th Major
      th Year
      th
      th
      th

  tbody
    - @courses.each do |course|
      tr
        td = course.name
        td = course.major
        td = course.year
        td = link_to 'Show', course
        td = link_to 'Edit', edit_course_path(course)
        td = link_to 'Destroy', course, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Course', new_course_path
