p#notice = notice

p
  strong Name:
  = @course.name
p
  strong Major:
  = @course.major
p
  strong Year:
  = @course.year

=> link_to 'Edit', edit_course_path(@course)
'|
=< link_to 'Back', courses_path
